<nav class="navbar navbar-expanded-lg navbar-light bg-light">
  <div class='input-group col-6'>
    <div class="navbar-brand">nwhacks-dashboard</div>
  </div>
  <div class='input-group col-6'>
    <input type='text' class='form-control' [(ngModel)]='searchString' (keyup)='filter()' placeholder='Filter...' />
    <span class="input-group-btn ml-2">
      <button class="btn btn-primary">Logout</button>
    </span>
  </div>
</nav>
<nav class="navbar">
  <button class="btn btn-primary pull-right"><i class="fas fa-plus"></i> Post an Experience</button>
</nav>
<div class="card-container">
  <div *ngIf="!searchString">
    <div *ngFor="let city of cities">
      <div class="card mb-4 mr-4 float-left" (click)="goToCity(city)">
        <div class="card-body">
          <h5 class="card-title">{{city.name}} {{city.country}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="searchString && filteredData.length">
    <div *ngFor="let city of filteredData">
      <div class="card mb-4 float-left" (click)="goToCity(city)">
        <div class="card-body">
          <h5 class="card-title">{{city.name}} {{city.country}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="searchString && !filteredData.length">
    No cities found!
  </div>
</div>