:host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: block;
    width: 100%;
    font-family: CircularStdBlack;
}

.navbar-nwhacks {
    height: 50px;
    margin: 15px;
    border-bottom: 1px solid lightgray;
}

.navbar-nwhacks-main {
    float: left;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

.navbar-nwhacks-side {
    float: right;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}