.header-handler {
    margin-top: 80px;
}

img {
    max-width: 500px;
}

.city-container {
    padding: 0px 15px;
}

.card-footer {
    background-color: transparent;
    border-top: none;

    i {
        cursor: pointer;
    }
}